<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs2c.project.module.wdiodeConfig.mapper.WdiodeConfigMapper">
    
    <resultMap type="WdiodeConfig" id="WdiodeConfigResult">
        <result property="id"    column="id"    />
        <result property="contents"    column="contents"    />
        <result property="dataTime"    column="data_time"    />
        <result property="description"    column="description"    />
        <result property="col1"    column="col1"    />
        <result property="col2"    column="col2"    />
        <result property="col3"    column="col3"    />
    </resultMap>
	
	<sql id="selectWdiodeConfigVo">
        select id, contents, data_time, description, col1, col2, col3 from proc_wdiode_config
    </sql>
	
    <select id="selectWdiodeConfigList" parameterType="Integer" resultMap="WdiodeConfigResult">
        <include refid="selectWdiodeConfigVo"/>
        ORDER BY id DESC
        <if test="last_count > 0 "> limit #{last_count}</if>
    </select>
    
    <select id="selectWdiodeConfigById" parameterType="Integer" resultMap="WdiodeConfigResult">
        <include refid="selectWdiodeConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWdiodeConfig" parameterType="WdiodeConfig">
        insert into proc_wdiode_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="contents != null  and contents != ''  ">contents,</if>
			<if test="dataTime != null  ">data_time,</if>
			<if test="description != null  and description != ''  ">description,</if>
			<if test="col1 != null  and col1 != ''  ">col1,</if>
			<if test="col2 != null  and col2 != ''  ">col2,</if>
			<if test="col3 != null  and col3 != ''  ">col3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="contents != null  and contents != ''  ">#{contents},</if>
			<if test="dataTime != null  ">#{dataTime},</if>
			<if test="description != null  and description != ''  ">#{description},</if>
			<if test="col1 != null  and col1 != ''  ">#{col1},</if>
			<if test="col2 != null  and col2 != ''  ">#{col2},</if>
			<if test="col3 != null  and col3 != ''  ">#{col3},</if>
         </trim>
    </insert>

    <update id="updateWdiodeConfig" parameterType="WdiodeConfig">
        update proc_wdiode_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="contents != null  and contents != ''  ">contents = #{contents},</if>
            <if test="dataTime != null  ">data_time = #{dataTime},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="col1 != null  and col1 != ''  ">col1 = #{col1},</if>
            <if test="col2 != null  and col2 != ''  ">col2 = #{col2},</if>
            <if test="col3 != null  and col3 != ''  ">col3 = #{col3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWdiodeConfigById" parameterType="Integer">
        delete from proc_wdiode_config where id = #{id}
    </delete>

    <delete id="deleteWdiodeConfigByIds" parameterType="String">
        delete from proc_wdiode_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>